apiVersion: apps/v1
kind: Deployment
metadata:
  name: DEPLOYMENT_NAME
  namespace: NAMESPACE
  labels:
    app: PROJECT
spec:
  selector:
    matchLabels:
      project: PROJECT
  template:
    metadata:
      namespace: NAMESPACE
      labels:
        project: PROJECT
    spec:
      containers:
         - name: PROJECT
           image: REGISTRY_HOSTNAME/PROJECT:TAG_VERSION
           ports:
             - containerPort: PORT_CONTAINER

           env:
             - name: IS_SWAGGER_ENABLED
               valueFrom:
                 secretKeyRef:
                   name: main-gateway-screenframe-api-production-config-secret
                   key: IS_SWAGGER_ENABLED
             - name: DATABASE_URL
               valueFrom:
                 secretKeyRef:
                   name: main-gateway-screenframe-api-production-config-secret
                   key: DATABASE_URL
             - name: IS_DB_SYNCHRONIZE
               valueFrom:
                 secretKeyRef:
                   name: main-gateway-screenframe-api-production-config-secret
                   key: IS_DB_SYNCHRONIZE
             - name: IS_DB_LOGGING
               valueFrom:
                 secretKeyRef:
                   name: main-gateway-screenframe-api-production-config-secret
                   key: IS_DB_LOGGING
             - name: GLOBAL_PREFIX
               valueFrom:
                 secretKeyRef:
                   name: main-gateway-screenframe-api-production-config-secret
                   key: GLOBAL_PREFIX
